:root {
  --base-color: white;
  --base-variant: #e8e9ed;
  --text-color: black;
  --secondary-color: rgb(96, 96, 96);
}

p {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}
body {
  margin: 0;
  padding-top: 80px;
  padding-left: 96px;
  box-sizing: border-box;
  background-color: var(--base-color);
}
.darkmode {
  --base-color: #070b1d;
  --base-close: #1a2138;
  --base-variant: #555555;
  --text-color: white;
  --secondary-color: rgb(123, 120, 120);
}
.darkmode .sidebar-link img,
.darkmode .header img {
  filter: invert(100%);
}
.darkmode .header .youtubelogo {
  filter: invert(100%);
}
.darkmode .header img.current-user-picture {
  filter: invert(0%);
}
@media (max-width: 990px) {
  body {
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
  }
}
a {
  text-decoration: none;
}
