.header {
  z-index: 100;
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed; /*sticks the header to the top even in scrolling*/
  top: 0; /* this are property of position tells our fixed item to have margin we needed at the top same for the belows, note if we use right and left or top and bottm in certain px its tells our item to stretch*/
  left: 0;
  right: 0;
  background-color: var(--base-color);
  border-bottom: solid 1px rgb(228, 228, 228);
}
.left-section {
  display: flex;
  align-items: center;
}
.middle-section {
  display: flex;
  align-items: center;
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px; /* this property said the width can be less than 300px but as sson as it grows reach 300px its stop growing*/
}

.right-section {
  width: 200px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 29px;
  margin-right: 24px;
  flex-shrink: 0; /* this makes the objects in the container to not shrink and maintain the same width and not shrink regardless of the page movement*/
}

.hamburger-menu {
  height: 24px;
  margin-right: 20px;
  margin-left: 24px;
}
.toggle {
  background-color: var(--base-color);
  border: none;
}
.youtubelogo {
  height: 20px;
}
.searchbutton {
  height: 40px;
  width: 66px;
  background-color: rgb(240, 240, 240);
  border: solid 1px rgb(192, 192, 192);
  margin-left: -1px;
  margin-right: 10px;
}
.searchbutton,
.voicesearchbutton,
.uploadiconcontainer,
.Youtubeiconcontainer,
.notifications-icon-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchbutton .tooltip,
.voicesearchbutton .tooltip,
.uploadiconcontainer .tooltip,
.Youtubeiconcontainer .tooltip,
.notifications-icon-container .tooltip {
  font-family: Roboto, Arial;
  position: absolute;
  background-color: gray;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}
.searchbutton:hover .tooltip,
.voicesearchbutton:hover .tooltip,
.uploadiconcontainer:hover .tooltip,
.Youtubeiconcontainer:hover .tooltip,
.notifications-icon-container:hover .tooltip {
  opacity: 1;
}
/* this means we are targettting the tooltip only when hovering over the search button */

.voicesearchbutton {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  background-color: var(--base-close);
}

.voice-search-icon {
  height: 24px;
}
.search-bar {
  flex: 1;
  width: 0; /* allow shrinking to 0 since we have flex at 1 already which allows it to take up all remaining space depending on the page size*/
  height: 36px;
  padding-left: 10px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
}

.search-bar::placeholder {
  font-family: roboto, Arial;
  font-size: 16px;
}

.search-icon {
  height: 25px;
}

.upload-icon {
  height: 24px;
}
.youtube-app-icon {
  height: 24px;
}
.notifications-icon {
  height: 24px;
}
.notifications-icon-container {
  position: relative;
}
.notifications-count {
  position: absolute;
  top: -2px;
  right: -5px;
  background-color: red;
  color: white;
  font-size: 11px;
  font-family: Roboto, Arial;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 50%;
}
#theme-switch {
  height: 40px;
  width: 40px;
  padding: 0;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
#theme-switch svg {
  fill: black;
}
#theme-switch svg:last-child {
  display: none;
}
.darkmode #theme-switch svg:first-child {
  display: none;
}
.darkmode #theme-switch svg:last-child {
  display: block;
}

.current-user-picture {
  height: 32px;
  border-radius: 50%;
}

@media (max-width: 990px) {
  #theme-switch {
    height: 50px;
    width: 50px;
  }
  .header {
    padding-top: 30px;
  }
  .toggle {
    background-color: var(--base-color);
    border: none;
    cursor: pointer;
  }
  .right-section {
    width: 200px;
    margin-right: 30px;
  }

  .middle-section {
    flex: 1;
    margin-left: 30px;
    margin-right: 0;
  }
  .header {
    height: 100px;
  }
  .searchbutton {
    height: 50px;
  }
  .search-icon {
    height: 30px;
  }
  .search-bar {
    height: 45px;
  }
  .voicesearchbutton {
    height: 50px;
    width: 50px;
  }
  .voice-search-icon {
    height: 30px;
  }
  .upload-icon {
    height: 50px;
    display: none;
  }
  .youtube-app-icon {
    height: 50px;
    display: none;
  }
  .notifications-icon {
    height: 50px;
  }
  .hamburger-menu {
    height: 50px;
    margin-right: 20px;
    margin-left: 24px;
  }
  .youtubelogo {
    height: 50px;
  }
  .notifications-count {
    top: -4px;
    right: -10px;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .current-user-picture {
    height: 50px;
  }
}
