.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  color: var(--text-color);
  background-color: var(--base-color);
  width: 72px;
  z-index: 200;
  padding-top: 5px;
}

.sidebar-link {
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}
/* justify-content center in flex center horizontaly  while align-items center does vertically*/
.sidebar-link:hover {
  background-color: var(--base-variant);
}
.sidebar-link img {
  height: 24px;
  margin-bottom: 4px;
}
.sidebar-link div {
  font-family: Roboto, Arial;
  font-size: 10px;
}

@media (max-width: 990px) {
  .sidebar {
    position: absolute;
    width: 400px;
    color: var(--text-color);
    background-color: var(--base-color);
    height: 620px;
    top: -40px;
    left: -30px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 40px;
    margin-top: 80px;
    z-index: 100;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  }
  .sidebarrelative {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 85px;
    width: 0%;
    z-index: 10;
    display: none;
    opacity: 0;
    transition: opacity 1s ease;
  }
  .sidebarrelative {
    opacity: 1;
    @starting-style {
      opacity: 0;
    }
  }

  .sidemenu {
    position: relative;
  }
  .sidebar-link {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    border-top: 0.1px solid rgb(199, 194, 194);
  }
  .sidebar-link img {
    height: 50px;
    margin-bottom: 4px;
  }
  .sidebar-link div {
    font-family: Roboto, Arial;
    font-size: 25px;
    text-align: center;
  }
}
