.title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.title a {
  color: var(--text-color);
}

.author,
.views {
  font-size: 12px;
  color: var(--secondary-color);
}
.author a {
  color: var(--secondary-color);
}

.author {
  margin-bottom: 4px;
}

.thumbnail {
  width: 100%;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.profilepicture {
  width: 36px;
  border-radius: 50%;
}

.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

.video-time {
  background-color: black;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 5px;
  font-family: Roboto, Arial;
  font-size: 12px;
  font-weight: 500;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 2px;
}
/* we can also use padding:4px(top) 4px(right) 4px(bottom) 4px(left); just like a clock hand movement from 12'Oclock faces top first then go right to buttom and land in left, this is the same with margin, and if the padding or margin is the same we can use just one that equate to all 4 side , 2 values means the first is top and bottom and the second is right and left  */
/* postion  absolute inside postion relative allow us to put an element inside another element be it corner or so */

/* css inheritance are value hat can be inherit by the divs and element insidee another element , mostly text element design can be inherited not all element */
/* css specificity means the more specific  style override the more general style, example if you put a text color on the body but then put a text color inside a paragraph inside the body the closest styling to the paragraph get the highest priority */
/* semantic element  are the same has divs but allow search engine and screen readers to know and get good access to our page details this are header or nav also main that contain the main content of the webpage inside the body */

@media (max-width: 990px) {
  .video-grid {
    grid-template-columns: 1fr;
    margin-left: 0;
    padding-top: 30px;
  }
  .profilepicture {
    width: 100px;
    border-radius: 50%;
  }
  .video-info-grid {
    display: grid;
    grid-template-columns: 120px 1fr;
  }

  .title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 500;
    line-height: 30px;
  }

  .author,
  .views {
    font-size: 25px;
    color: var(--secondary-color);
  }
  .video-time {
    font-size: 32px;
    padding: 10px;
  }
  .div-thumb {
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid rgb(96, 96, 96);
  }
}

@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1130px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
